 <div th:fragment="menufragment">
 
 <div id="menu" class="menu">
        <nav class="navbar navbar-expand-lg navbar-light menu">
            <div class="container">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="https://www.uol.com.br" class="nav-link">UOL</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/jungabriel56" class="nav-link">GITHUB</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>